# Python
__pycache__/
*.pyc
.venv/
venv/

# Données locales lourdes/sensibles
assets/TOTUM-Suivi nutritionnel.xlsx
assets/*.parquet
assets/*.db
*.sqlite

# Config/Secrets locaux
.streamlit/secrets.toml
.env
.env.*

# OS/IDE
.DS_Store
Thumbs.db
.vscode/
